.personal-information {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.personal-information img {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

.container-buttons-info {
    display: flex;
    gap: .5rem;
    align-items: center;
    flex-wrap: wrap;
}
