/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";

:root {
    --grass-9: #46a758;
    --grass-9-contrast: #ffffff00;
    --grass-a1: #00de1205;
    --grass-a6: #71ff8f4b;
    --grass-a4: #57ff802c;
    --grass-a11: #89ff9fcd;
    --padding-default-y: 0.4rem;
    --padding-default-x: 1.5rem;
    --border-radius-default:15px;
    --padding-default-y-button: 0.5rem;
}

* {
    background-color: #1b1919dc;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

.padding-container-component {
    padding: 2rem 3rem;
}

.padding-container-component-x {
    padding: 0rem 3rem;
}

.p-1 {
    padding: 1rem;
}

.p-1-y {
    padding: 1rem 0rem;
}


.p-0-4 {
    padding: var(--padding-default-y);
    border: none;
}

.m-1-y {
    margin: 1rem 0rem;
}

.m-1-x {
    margin: 0rem 1rem;
}

//styles cards

.card {
    max-width: 320px;
    min-width: 300px;
    min-height: 350px;
    max-height: 350px;
    padding: 5px;
}

.primary-anchor {
    background-color: var(--grass-9);
    border-radius: var(--border-radius-default);
    text-decoration: none;

}

.secondary-anchor {
    background-color: var(--grass-a4);
    border-radius: var(--border-radius-default);
    border: 2px solid var(--grass-9);
    text-decoration: none;
    padding-right: var(--padding-default-x);
    padding-left: var(--padding-default-x);
    //width: 10rem;
}

.secondary-anchor i {
    color: var(--grass-a11);
}

i {
    background-color: var(--grass-9-contrast);
}

.font-weight-normal {
    font-weight: 100;
}

.flex {
    display: flex;
}

.gap-1 {
    gap: 1rem;
}

.wrap {
    flex-wrap: wrap;
}

.border-2 {
    border: 2px solid var(--grass-9);
    border-radius: var(--border-radius-default);
}

button {
    border: none;
    background-color: var(--grass-9);
    padding: var(--padding-default-y-button) var(--padding-default-x);
    border-radius: var(--border-radius-default) ;
    background-color: var(--grass-a4);
    border: 2px solid var(--grass-9);
    cursor: pointer;
    //color: var(--grass-a11);
}